- id = article.id
- title = article.title

%tr.article{ data: { id: id, title: title } }
  %td.id= id
  %td.title= link_to title, article_path(article)
  %td.tags= article.article_tags
  %td.edit= link_to t('articles.editArticle'), edit_article_path(article)