%header
  %h2
    = link_to article.title, article

  - article.tags.each do |tag|
    = link_to tag.name, search_index_path(query: tag.name), class: ['label', 'label-primary']

%article.article= article.content.html_safe