// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-comment {
  margin-top: 20px;
}

.comment-error {
  display: none;
  margin-top: 20px;
}

.comments {
  margin-top: 20px;
}