@import 'mixins';

.application-content {
  margin-top: 100px;
}

body {
  > .container {
    margin-bottom: 50px;

    > nav {
      text-align: center;
    }
  }

  .navigation {
    position: fixed;
  }
}

body .modal-message {
  @include modal-message();
}